:root {
    --color : rgb(126, 54, 194) !important;
}
.nav_class {
    color: var(--color) !important;
}
.nav_class span {
    border-bottom: 2px solid var(--color);
    padding: 3px;
}
.navbar-brand {
    width: 400px;
}
.nav-link {
    padding: 0px 20px !important;
    font-weight: bold;
    font-size: 1.5rem ;
    
}
.nav-link span:hover {
    background-color: var(--color) !important;
    color: #fff !important;
   
} 
@media(max-width:768px){
    .navbar-brand {
        width: 300px;
    }
}
@media(max-width:420px){
    .navbar-brand {
        width: 200px;
    }
}
